.student{
    font-size: 30px;
}

#studentTable{
    border: 1px solid black;
}

#studentTable th, #studentTable td {
    border: 1px solid black;
    width: 50px;
    text-align: center;
}
#studentRegister{
    border: 1px solid black;
}
#studentRegister thead{
    font-size: 30px;
}
#studentRegister th, #studentRegister td{
    border: 1px solid black;
    width: 50px;
    text-align: center;
}
#studentView{
    border: 1px solid black;
}
#studentView thead{
    font-size: 30px;
}
#studentView th, #studentView td{
    border: 1px solid black;
    width: 100px;
    text-align: center;
}